.st-emotion-cache-9gx57n{
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.st-emotion-cache-1k5fi8b {
    width: 50px;
}

.st-emotion-cache-1weic72{
    height: 0px;
    width: 0px;
}

.st-emotion-cache-v3w3zg{
    width: fit-content;
}

.stVerticalBlock{
    align-items: center;
}
.st-emotion-cache-p6n0jw{
    display: flexbox;
    max-width: 200px;
    flex-flow: row;
    flex-wrap: wrap;
}

.st-emotion-cache-9ajs8n{
    justify-items: center;
    font-size: 1rem;
}
.stMarkdownContainer{
    align-items: center;
    justify-content: center;
}
